/*Limpar formatações iniciais*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}


/*Layout*/

.fundo-menu {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

.logo,
.menu {
    padding: 15px;
}

.area-principal {
    width: 75%;
    margin: 0 auto;
    padding: 15px;
}

.post {
    width: 66%;
    float: left;
}

.area-lateral {
    width: 24%;
    float: right;
}

.rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
    border-radius: 20px 20px 20px 20px;
}

.postagens {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
    border-radius: 20px 20px 20px 20px;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
}

.post-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 3px solid #ccc;
}


/*Formatações do menu*/

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

.fundo-menu a:link,
.fundo-menu a:visited {
    color: #fff;
    padding: 8px 12px;
}

.fundo-menu a:hover {
    color: #f7b600;
    background: #fff;
    border-radius: 12px 12px 12px 12px;
    text-decoration: none;
}

.logo:hover {
    -moz-transform: scale(2.1);
    -webkit-transform: scale(2.1);
    transform: scale(2.1)
}


/*Formatações gerais*/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #565656;
    background: #ccc;
    padding: 5px;
    border-radius: 15px 15px 15px 15px;
}

.branco {
    color: #fff;
}

.data-post {
    font-size: 0.7em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.post-lateral {
    font-size: 0.8em;
    padding: 5px;
}